{% extends "base.html" %}

{% block title %}Contact{% endblock title %}

{% block content %}

<form action="/contact" method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>Contact</legend>
        {% for field in form %}
        <div class="div_form_contact">
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    {{ field.label_tag }}

                </div>
                <div class="col-md-6">
                    {{ field }}
                </div>
            </div>
            {{ field.errors }}
            {% if field.help_text %}
                <p class="help-text">
                    {{ field.help_text }}
                </p>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit">Envoyer</button>
    </fieldset>
</form>

{% endblock content %}
