{% extends "base.html" %}

{% block content %}
<h1>Mentions</h1>
<div class="thumbnail" style="font-size:20px">
    Site hébergé par <a href="https://www.ovh.com/fr/">OVH</a>
    <img src="/static/img/logo-ovh.jpg" style="width:30%"class="img-responsive" alt="" />
    Réalisé par <a target="blank" href="https://fr.linkedin.com/in/lucie-barthes-4a2a89119
    ">Barthes Lucie</a> & <a href="https://www.linkedin.com/in/quentin-garrido" target="blank">Garrido Quentin</a>

        <div class="">
             © Dojo entreprises agiles 2014-2016 MIRMAN Frédéric
        </div>

</div>



{% endblock %}
