{% extends "base.html" %}
{% load leaflet_tags %}

{% block content %}

<h1>Portraits</h1>
{% leaflet_map "mymap" callback="window.map_init_basic" %}


<div class="container" style="margin-top:2em">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">Panel with panel-info class</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="http://placehold.it/35x35" alt="" />
                        </div>
                        <div class="col-md-9">
                            Panel Content
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">Panel with panel-info class</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="http://placehold.it/35x35" alt="" />
                        </div>
                        <div class="col-md-9">
                            Panel Content
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">Panel with panel-info class</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="http://placehold.it/35x35" alt="" />
                        </div>
                        <div class="col-md-9">
                            Panel Content
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">Panel with panel-info class</div>
                <div class="panel-body">    <div class="row">
                    <div class="col-md-3">
                        <img src="http://placehold.it/35x35" alt="" />
                    </div>
                    <div class="col-md-9">
                        Panel Content
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">Panel with panel-info class</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <img src="http://placehold.it/35x35" alt="" />
                    </div>
                    <div class="col-md-9">
                        Panel Content
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">Panel with panel-info class</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <img src="http://placehold.it/35x35" alt="" />
                    </div>
                    <div class="col-md-9">
                        Panel Content
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">Panel with panel-info class</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <img src="http://placehold.it/35x35" alt="" />
                    </div>
                    <div class="col-md-9">
                        Panel Content
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">Panel with panel-info class</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <img src="http://placehold.it/35x35" alt="" />
                    </div>
                    <div class="col-md-9">
                        Panel Content
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">Panel with panel-info class</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <img src="http://placehold.it/35x35" alt="" />
                    </div>
                    <div class="col-md-9">
                        Panel Content
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{%endblock content%}
