
* {
    padding: 0px;
    margin:0px;
    font-family: 'Titillium Web', sans-serif;

}

.width_main{
    padding: 0 20px;

}
body{
    color:#3A3A3A;
}
h1 {
    text-align: center;
    margin: 40px 0 ;
    font-family: 'Titillium Web', sans-serif;
    color: #326e8c;
}

h2,h3{
    color: #FF630F;
    font-family: 'Titillium Web', sans-serif;
    padding-bottom: 20px;
}
#h2_cat_sujet{
    border-bottom: 1px solid;
    margin-bottom: 40px;
}
.li_event_list a,.li_event_list a .fa{
    font-size: 23px;
    padding: 10px;
}

.navbar-default {
    font-size: 1.5em;
    border: none;
    z-index: 999!important;
}

.navbar-default .navbar-nav li a {
    color: #FF5B01;
}
.navbar-default .navbar-brand {
    padding-top: 0;
    img {
        height: 125%;
        padding-top: 8px;
    }
}
@media screen and (max-width:650px){

    .navbar-brand img{
        width: 230px;
    }
}
div.background_header img {
    width: 100%;
}
//signup form
button, .input_button, .a_homepage {
    text-align: center;
    padding: 10px;
    border: 1px solid #326e8c;
    color: #326e8c;
    margin-top: 1em;
    background-color: white;
}
.a_homepage{
    line-height: 5em;
}
.texte_homepage{
    text-align: -webkit-center;
    font-size: 1.5em;
    padding: 2em 3em;
    border: 1px solid #FF630F;
    margin: 2.5em 0.6em;
    background-color: #F8F8F8;
}
input {
    margin-bottom: 1em;

    @media screen and (max-width: 668px){

        width: 100%;
    }
}
form {
    border:1px solid #FF630F;

    width: 50%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    padding:2em 1em;
    color: #326e8c;
    }
    button:hover, .input_button:hover, .a_homepage:hover{
        background-color: #326e8c;
        color: white!important;
    }
    textarea{
        width: 100%;
    }

    input[type=file]{
        margin: auto;
    }

    legend{
        color: #326e8c;

    }

ul {
    padding: 0;
    li {
        list-style-type: none;
    }
}

//twitter


//font-awesome
.thumbnail {
    text-align: center;
    padding: 3em;
    border: 1px solid #326e8c;
    background-color:  #F8F8F8;
    border-radius: 0;
    i{
        color: #FF630F;
        margin: auto;
        font-size: -webkit-xxx-large;
        width: 100%;
    }
}
.thumbnail .caption {
    overflow: overlay;
    height: 17em;
}
.storyjs-embed.sized-embed{
    border-radius:0;
    border: 1px solid  #FF630F!important;
    background-color: #F8F8F8!important;

    .vco-slider{
        background-color: #F8F8F8!important;

    }

}
//leaflet

.leaflet-container-default {
    min-height: 300px;
    border: 1px #FF630F solid;
    position: relative;
    width: 95em;
    margin: auto;
    padding: 1em;
}
@media screen and (max-width: 668px){
    .leaflet-container-default{
        width: 100%;
    }

}
//panel
.panel-default{
    a{
        color:#326e8c;
        text-transform: uppercase;
    }
    border: 1px solid #FF630F;

   >.panel-heading{
        color:#FF630F;
}
}
//vote
//profil

.white-box{
    text-align: center;
    font-size: 1.5em;
    margin: 2em;
    padding: 2em;
    border: 1px solid #FF630F;
    li a{
        font-size: 20px;

    }
}
a:hover{
    color:#FF630F!important;
    text-decoration: none;
}
.event_list{
    margin: 31px 0;
    border: 1px solid #326e8c;

    padding: 10px;
    background-color: #F8F8F8!important;
}
.span_event_list{
    font-size: 24px;
    color: #326e8c;
    border: 3px solid #FF630F;
    width: 19%;
    margin: auto;

    margin-top: 20px;
}
#border_savoir{
    border: 1px solid #326e8c;
    margin: 0 20px;

    font-size: 18px;

}

//footer


footer{
    margin-top: 2em;
    padding: 1em;
    background-color: #F8F8F8;
}
.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    margin-bottom: 0.4em;
}
/*
Multicoloured Hover Variations
*/
#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
#social-em:hover {
    color: #f39c12;
}
#social-yt:hover {
    color: #f60606;
}
#social-mt:hover {
    color: #42a10f;
}
