{% load leaflet_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ravi+Prakash|Titillium+Web" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    <title>{% block title %}{% endblock title %}</title>

    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/stickUp2/build/js/stickUp.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>

    {% leaflet_js %}
    {% leaflet_css %}
</head>

<body>


    {% include "header.html" %}
    {% block content %}
    {% endblock content %}
    {% include "footer.html" %}


</body>

</html>
