<footer>
    <div class="text-center">
        <a target="blank" href="https://www.facebook.com/DojoEntreprisesAgiles/"><i id="social-fb" class="fa fa-facebook-square fa-3x social" ></i></a>
        <a target="blank" href="https://twitter.com/DojoEtsAgiles"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
        <a target="blank" href="https://plus.google.com/115466206976186631579/posts"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
        <a target="blank" href="https://www.youtube.com/c/Dojo+Entreprises+Agiles"><i id="social-yt" class="fa fa-youtube-square fa-3x social" aria-hidden="true"></i></a>
        <a href="{% url 'contact' %}"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        <a href="{% url 'mention' %}"><i id="social-mt" class="fa fa-plus-square fa-3x social"></i></a>
    </div>
</footer>
