<footer>
    <div class="text-center">
    <a href="https://www.facebook.com/DojoEntreprisesAgiles/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
    <a href="https://twitter.com/DojoEtsAgiles"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
    <a href="https://plus.google.com/115466206976186631579/posts"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
    <a href="#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
</div>
</footer>
