<header>
    <div class="background_header">

    </div>

<nav class="navbar navbar-default navi">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">DOJO ENTREPRISES AGILES</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="{% url 'homepage' %}">Accueil</a></li>
        <li><a href="{% url 'discussions' %}">Discussions</a></li>
        <li><a href="{% url 'portrait' %}">Portraits</a></li>
        <li><a href="#">Savoirs</a></li>
        <li><a href="#">Contact</a></li>
    </ul>

    <ul class="pull-right nav navbar-nav">
        <li><a href="{% url 'my_signup' %}">Inscription</a></li>
        <li><a href="{% url 'userena_signin' %}">Se connecter</a></li>

    </ul>
</nav>
</header>
