{% load staticfiles %}
<header>
    <div class="background_header">
        <img src="{% static 'img/entete-web.png' %}" />
    </div>

    <nav class="navbar navbar-default navi">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'homepage' %}"><img src="{% static 'img/logoDojoClair.png' %}" /></a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{% url 'homepage' %}">Accueil</a></li>
            <li><a href="{% url 'discussions' %}">Discussions</a></li>
            <li><a href="{% url 'portrait' %}">Portraits</a></li>
            <li><a href="{% url 'savoirs' %}">Savoirs</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <ul class="pull-right nav navbar-nav">
            {% if request.user.is_authenticated %}
            <li><a href="/accounts/{{request.user.username}}">Mon profil</a></li>
            <li><a href="{% url 'userena_signout' %}">Se déconnecter</a></li>
            {% else %}
            <li><a href="{% url 'my_signup' %}">Inscription</a></li>
            <li><a href="{% url 'userena_signin' %}">Se connecter</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
